body {
    background-color: teal;
    font-family: 'Trebuchet MS';
}

h1 {
    text-align: center;
    background-color: turquoise;
    color: teal;
}

.lista {
    color: rgb(251, 255, 0);
    left: 50%;
    background-color: rgb(252, 122, 0);
    font-size: 25px;
  
}
